html{
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
    background-image: url(https://images.pexels.com/photos/556663/pexels-photo-556663.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    /* background-position: center; */
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    width: 50vw;
    height: 50vh;

    padding: 50px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px black;
    background-color: rgba(95, 158, 160, 0.459);
}

button{
    width: 100px;
    height: 30px;
}