html{
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    background: linear-gradient(lightpink, lightblue, lightgreen, lightcoral);
}

.container{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{
    width: 100px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2{
    width: 100px;
    height: 30px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.box{
    width: 60%;
    height: 70%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/1468379/pexels-photo-1468379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center;
}